@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #000000;
  font-family: 'IBM Plex Mono', monospace;
}
